#
# ignore settings for Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData

#
# ignore settings for VisualStudio
#

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

*.tt
*.db
*.suo
*.obj
*.sdf
*.pdb
*.dll
*.lib
*.exe
*.spv
*.dat
*.log
*.exp
*.ilk
*.map
*.idb
*.bin
*.ncb
*.htm
*.dep
*.pch
*.rsp
*.bsc
*.sbr
*.res
*.ipa
*.user
*.tlog
*.json
*.ipch
*.hmap
*.ipdb
*.iobj
*.cache
*.ib_tag
*.opendb
*.opensdf
*.manifest
*.userprefs
*.xcuserstate
*.sln.docstates
*.lastbuildstate
*.unsuccessfulbuild

# Ignore auxiliary output from Doxygen and Sphinx
doc/xml
doc/html

# script language
sdk/dCompilerKit/dNewtonLua/dNewtonLuaParcer.cpp.txt
sdk/dCompilerKit/dVirtualAssembler/dAssemblerParser.cpp.txt
sdk/dCompilerKit/dLittleScriptLanguage/dLittleScriptParser.cpp.txt

