<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array>
		<string>/Users/juliojerez/Desktop/newton-dynamics</string>
	</array>
	<key>LastWorkingCopyScanDate</key>
	<date>2013-05-05T18:32:58Z</date>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
