name: Build and run the Hello World apps
on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ master ]
jobs:
  build-linux:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3

    - name: Setup Linux
      shell: bash
      run: |
        sudo apt update
        sudo apt install -y cmake ninja-build
        cmake --version
        ninja --version

    - name: Build And Install Newton
      shell: bash
      run: |
        cd newton-4.00
        cmake \
            -S . -B build \
            -DNEWTON_BUILD_SANDBOX_DEMOS=OFF \
            -DCMAKE_BUILD_TYPE=Release \
            -G "Ninja" \
            -DCMAKE_INSTALL_PREFIX:PATH=/tmp/newton

        cmake --build build -j2
        cmake --install build --strip

    - name: Run Tests
      shell: bash
      run: |
        newton-4.00/build/tests/newton_tests

    - name: Build And Run Hello World Apps
      shell: bash
      run: |
        cd newton-4.00/applications/hello-world
        cmake -S . -B build/ -DCMAKE_INSTALL_PREFIX:PATH=/tmp/newton
        cmake --build build/

        echo -e "\n\n---------- Hello World\n"
        build/hello

        echo -e "\n\n---------- TransformCallback\n"
        build/transformCallback

        echo -e "\n\n---------- ContactCallback\n"
        build/contactCallback

  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3

    - name: Setup Windows
      shell: bash
      run: |
        choco install ninja cmake
        cmake --version
        ninja --version

    - name: Build And Install Newton
      shell: bash
      run: |
        cd newton-4.00
        cmake \
            -S . -B build \
            -DNEWTON_BUILD_SANDBOX_DEMOS=OFF \
            -DCMAKE_BUILD_TYPE=Release \
            -G "Visual Studio 17 2022" -A x64 \
            -DCMAKE_INSTALL_PREFIX:PATH=out

        cmake --build build -j2

        # The installation target does not currently work.
        # cmake --install build --strip

    - name: Run Tests
      shell: bash
      run: |
        # We need to copy the "newton_test" binary into the folder with
        # the Windows DLL files first before we can run it.
        cd newton-4.00/build/sdk/Debug
        cp ../../tests/Debug/newton_tests.exe ./

        # Execute the test suite.
        ./newton_tests

